/*
BEM

Block
Elements
Modifiers
*/

/*  Blocks */

/*  Elements */

/*  Modifiers */


main section{
border: 1px solid grey;
margin: 1rem;
}

main section article{
  border: 1px solid grey;
  margin: 1rem;
}

section header h2{
color: red;
}

section article h3{
color: #3C3C3B;
}

body{
font-family: "Source Sans Pro";
margin: 0;
padding: .5rem;
    background: repeating-linear-gradient(90deg,#fff,#fff 1px,#000 0,#000 5px);
}

.heading .heading__title{
color: red;
text-transform: uppercase;
}

.dish__title{
  font-family: georgia;
}

/* Start! */

.dish {
  height: 99vh;
  width: 50vw;
  position: relative;
  /* border: 2px solid black; */
}

/* .category .dish:nth-child(odd){
  background-color: grey;
}
.category:nth-child(even){
  background-color: red;
} */


.dish__title{
  position: sticky;
  top: 5rem;
  font-size: 6em;
  line-height: 4.8rem;
  margin: 0;
  margin-left: 1rem;
  color: white;
  /* offset-x | offset-y | blur-radius | color */
  /* text-shadow: -1px 1px 0.1rem rgba(60, 60, 60, .8), -4px 4px 0.1em rgba(60, 60, 60, .6), -7px 7px 0.1rem rgba(60, 60, 60, .4), -10px 10px 0.1em rgba(60, 60, 60, .2); */
  /* text-shadow: 0px 0px rgba(60, 60, 59, 1), -1px 1px rgba(60, 60, 59, 1), -2px 2px rgba(60, 60, 59, 1), -3px 3px rgba(60, 60, 59, 1), -4px 4px rgba(60, 60, 59, 1), -5px 5px rgba(60, 60, 59, .8), -6px 6px rgba(60, 60, 59, .8), -7px 7px rgba(60, 60, 59, .8), -8px 8px rgba(60, 60, 59, .8), -9px 9px rgba(60, 60, 59, .6), -10px 10px rgba(60, 60, 59, .6), -11px 11px rgba(60, 60, 59, .6), -12px 12px rgba(60, 60, 59, .6), -13px 13px rgba(60, 60, 59, .4), -14px 14px rgba(60, 60, 59, .4), -15px 15px rgba(60, 60, 59, .4), -16px 16px rgba(60, 60, 59, .4), -17px 17px rgba(60, 60, 59, .2), -18px 18px rgba(60, 60, 59, .2), -19px 19px rgba(60, 60, 59, .2), -20px 20px rgba(60, 60, 59, .2) */
}

.dish__title section:nth-child(1) {
transform: skew(25deg, 10deg);
}

.dish__title section:nth-child(2) {
transform: skew(-25deg, 10deg);
}

.dish__description {
  position: sticky;
  top: 12rem;
  font-size: 1em;
  /* background-color: white; */
  padding: 4rem 0rem;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Special Elite', cursive;
  color: #3C3C3B;
  color: white;
  transform: rotate(10deg);
  animation: fontCycle 1s infinite;
  animation-fill-mode: forwards;
}

.dish__description:hover{
  position: sticky;
  top: 12rem;
  font-size: 1em;
  padding: 4rem 0rem;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Special Elite', cursive;
  color: white;
  animation: none;
}

.dish__price{
  position: sticky;
  top: 300px;
  font-size: 2em;
}

.dish__hidder{
  width: 100%;
  height: 5em;
  background-color: white;
  position: sticky;
  top: 24rem;
  color: white;
  font-family: georgia;
  font-size: 3rem;
  text-align: center;
  line-height: 16.5rem;
  -webkit-clip-path: polygon(50% 19%, 100% 38%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 19%, 100% 38%, 100% 100%, 0 100%, 0 0);
  background: repeating-linear-gradient(#fff,#fff 1px,#000 0,#000 5px);
  animation: rotate 10s infinite;
  animation-fill-mode: forwards;
}

.animation__wrapper.delighter{
  width: 50vw;
  height: 100vh;
  /* opacity: 0; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  }


.animation__wrapper.delighter.started {
  transition: all .3s ease-out;
opacity: 1;
animation: smokedFish 1s;
animation-fill-mode: forwards;
display: flex;
flex-wrap: wrap;
justify-content: center;
position: relative;
}

.animation__wrapper.delighter.started.ended {
  opacity: 1;
  animation: fadeOut .5s;
  transition: all .3s ease-out;
  animation-fill-mode: forwards;
  width: 50vw;
}

.category{
  display: grid;
  grid-template-columns: auto 50%;
}


.animation__ingr{
  position: absolute;
  /* width: 50%; */
  height: auto;
  opacity: 0;
  /* animation-fill-mode: forwards; */
  transition-timing-function: ease-out;
  filter: grayscale(100%);
}

.animation__ingr:hover{
  filter: grayscale(20%);
}

.animation__ingr--1{
  top: 10rem;
    left: 7rem;
    z-index: 5;
    /* width: 50%; */
    width: 14rem;
}
.animation__ingr--2{
  top: 10rem;
    left: 4rem;
    z-index: 4;
    /* width: 60%; */
    width: 17rem;
}
.animation__ingr--3{
  top: 16rem;
left: 0;
/* width: 30%; */
z-index: 3;
width: 9rem;
}
.animation__ingr--4{
  top: 23rem;
  left: 4rem;
  /* width: 40%; */
  z-index: 2;
  width: 12rem;
}
.animation__ingr--5{
  top: 21rem;
  left: 14rem;
  /* width: 40%; */
  width: 11rem;
  z-index: 1;

}

.animation__wrapper.delighter.started > .animation__ingr{
  transition: all .3s ease-out;
  opacity: 1;
}

.animation__wrapper.delighter.started.ended > .animation__ingr{
  transition: all .3s ease-out;
  opacity: 0;
  color: red;
}

.animation__wrapper--smokedFish.delighter.started > .animation__ingr--1{
  animation: ingrAni1 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--smokedFish.delighter.started > .animation__ingr--2{
  animation: ingrAni2 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--smokedFish.delighter.started > .animation__ingr--3{
  animation: ingrAni3 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--smokedFish.delighter.started > .animation__ingr--4{
  animation: ingrAni4 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--smokedFish.delighter.started > .animation__ingr--5{
  animation: ingrAni5 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}

.animation__wrapper--theHattie.delighter.started > .animation__ingr--1{
  /* opacity: 1; */
  animation: ingrAni1 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theHattie.delighter.started > .animation__ingr--2{
  animation: ingrAni2 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theHattie.delighter.started > .animation__ingr--3{
  animation: ingrAni3 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theHattie.delighter.started > .animation__ingr--4{
  animation: ingrAni4 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}

.animation__wrapper--theIda.delighter.started > .animation__ingr--1{
  /* opacity: 1; */
  animation: ingrAni1 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theIda.delighter.started > .animation__ingr--2{
  animation: ingrAni2 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theIda.delighter.started > .animation__ingr--3{
  animation: ingrAni3 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theIda.delighter.started > .animation__ingr--4{
  animation: ingrAni4 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}

.animation__wrapper--theAnne.delighter.started > .animation__ingr--1{
  /* opacity: 1; */
  animation: ingrAni1 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theAnne.delighter.started > .animation__ingr--2{
  animation: ingrAni2 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theAnne.delighter.started > .animation__ingr--3{
  animation: ingrAni3 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}
.animation__wrapper--theAnne.delighter.started > .animation__ingr--4{
  animation: ingrAni4 2s;
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}

.animation__wrapper.delighter.started > .animation__ingr:hover{
  animation: rotate 2s infinite;
  /* background-color: red; */
  animation-fill-mode: forwards;
  /* transition-timing-function: ease-out; */
}


@keyframes fontCycle{
0% {
  font-family: "Courier New", Courier, monospace
}
20% {
  font-family: "Lucida Console", Monaco, monospace
}
40% {
  font-family: 'Special Elite', cursive;
}
60% {
  font-family: "Courier New", Courier, monospace
}
80% {
  font-family: "Lucida Console", Monaco, monospace
}
100% {
  font-family: 'Special Elite', cursive;
}
}


@keyframes rotate{
0% {
  transform: rotate(-10deg);
}
50% {
  transform: rotate(10deg);
}
100% {
  transform: rotate(-10deg);
}
}

@keyframes ingrAni1{
0% {
  top: 7rem;
  width: 17rem;
  left: 10rem;
  transform: rotate(30deg);
}
100% {
top: 10rem;
width: 14rem;
left: 7rem;
transform: rotate(0deg);
}
}

@keyframes ingrAni2{
0% {
  top: 14rem;
  width: 14rem;
  left: 8rem;
  transform: rotate(20deg);
}
100% {
top: 10rem;
width: 17rem;
left: 4rem;
transform: rotate(0deg);
}
}

@keyframes ingrAni3{
0% {
  top: 17rem;
  width: 11rem;
  left: 2rem;
  transform: rotate(-10deg);
}
100% {
top: 16rem;
width: 9rem;
left: 0;
transform: rotate(0deg);
}
}

@keyframes ingrAni4{
0% {
  top: 20rem;
  width: 14rem;
  left: 6rem;
  transform: rotate(-15deg);
}
100% {
top: 23rem;
width: 12rem;
left: 4rem;
transform: rotate(0deg);
}
}

@keyframes ingrAni5{
0% {
  top: 19rem;
  width: 9rem;
  left: 12rem;
  transform: rotate(25deg);
}
100% {
top: 21rem;
width: 11rem;
left: 14rem;
transform: rotate(0deg);
}
}


@keyframes smokedFish {
0% {
  opacity: 0;
}
50%{
  opacity: 1;
  /* background-color: #1eb1dd; */
}
100% {
  opacity: 1;
  /* background-color: #3C3C3B; */
}
}

@keyframes fadeOut {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

@keyframes fadeIn {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
