body{
background-color: white;
height: 200vh;
}

.nav{
  height: 100vh;
  width: 100%;
  background-color: yellow;
}

.content{
height: 60px;
width: 60px;
background-color: green;
position: sticky;
top: 100px;
}

.container{
height: 40em;
width: 100vw;
position: relative;
margin-bottom: 300em;
border: 2px solid black;
}

.animation{
  width: 5em;
  height: 5em;
  background-color: red;
}

.animation.delighter {
  transition: all .3s ease-out;
  /* transform: translateX(-100%); */
  opacity: 0;
}

.animation .delighter .started {
   opacity: 0; 
  background-color: green;
}

.animation.delighter.started.ended {
  opacity: 1;
  width: 10em;
  height: 10em;
  animation: pulse 5s;
  /* border: solid red 10px; */
}

@keyframes pulse {
0% {
  background-color: #001F3F;
}

100% {
  background-color: #FF4136;
}
}
